.list-container {
  /* position: absolute;
  top: 80px;
  right: 0px; */
  height: 100%;
  padding: 1rem;
}

.videos {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.suggestions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.suggestions button {
  margin: 0.5rem;
  border: none;
  color: var(--dark-gray);
  padding: 1rem;
  border-radius: 2rem;
}

.button {
  display: flex;
  align-items: center;
}

.videos-secondary-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}
