.video-container {
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 100%;
}

.video-screen {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
}

.big-video-screen {
  width: 100%;
  padding: 1rem;
}

.screen-box {
  display: flex;
}
