.input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.input button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.3s ease-in;
  border-radius: 1rem;
  background-color: white;
  border: 1px solid var(--dark-gray);
  box-shadow: (--shadow-primary);
  display: flex;
  align-items: center;
}

.input button h3 {
  margin: 0 1rem;
}

.input button:hover {
  border-radius: 1rem;
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
}

.search-input::placeholder {
  color: var(--white-color);
}

.search-input {
  height: 1.3rem;
  width: 28rem;
  margin: 0.8rem;
  padding: 0.3rem;
  padding-left: 0.8rem;
  border-radius: 2rem;
  background-color: var(--dark-gray);
  box-shadow: var(--purple-shadow);
  outline: none;
  color: white;
}

.search-dropdown {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-primary);
  border-radius: 1rem;
  width: 28.7rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
  position: absolute;
  top: calc(100%);
  left: 3px;
  /* background-image: var(--background-gradient); */
  background-color: var(--white-color);
}

.search-dropdown:empty {
  display: none;
}

.search-dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 4px;
  padding: 0.5rem 1rem;
  box-shadow: var(--shadow-primary);
  color: var(--white-color);
  /* background-color: var(--white-color); */
  background-image: var(--background-gradient);
  border-radius: 1rem;
}

@media (max-width: 969px) {
  .input {
    display: none;
  }
}
@media (max-width: 1200px) {
  .search-input {
    width: 20rem;
  }
  .search-dropdown {
    width: 20.7rem;
  }
}
