.search-dropdown {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-primary);
  border-radius: 1rem;
  width: 35rem;
  margin: 0.5rem;
  padding: 0.5rem;
  position: absolute;
  background-color: red;
}

.search-dropdown:empty {
  border: none;
}

.search-dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 4px;
  padding: 8px;
  box-shadow: var(--shadow-primary);
  border-radius: 1rem;
}
