.video-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--dark-gray);
  margin: 1rem;
  transition: 0.3s ease-in;
}

.video-card:hover {
  box-shadow: var(--shadow-secondary);
}

.video-card p {
  margin: 0.5rem 0;
  display: inline-block;
}
.video-card img {
  border-radius: 0.25rem;
  box-shadow: var(--shadow-secondary);
  cursor: pointer;
}

.video-image {
  width: 100%;
}

.channel-image {
  font-size: 30px;
}

.channel-image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.channel-image a {
  color: var(--dark-gray);
  text-decoration: none;
}
.video-description {
  display: flex;
  flex-direction: column;
}

.video-description.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.25rem;
  padding-right: 1.2rem;
}

.video-description a {
  cursor: pointer;
}

.video-name {
  text-decoration: none;
  color: var(--dark-gray);
  margin: 0.5rem;
}

.video-name h3 {
  font-size: 1rem;
}
.channel-name {
  text-decoration: none;
  color: var(--dark-gray);
  margin: 0.5rem;
}

.description-boxes {
  display: flex;
  margin: 1rem 0;
  /* box-shadow: var(--shadow-primary);
  border-radius: 1rem;
  padding: 0.5rem; */
}
