.input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input a {
  padding: 0.8rem;
  cursor: pointer;
  transition: 0.3s ease-in;
  border-radius: 1rem;
}

.input a:hover {
  border-radius: 30%;
  background-color: var(--dark-gray);
}

.search-input {
  height: 1.3rem;
  width: 30rem;
  margin: 0.8rem;
  padding: 0.3rem;
  padding-left: 0.8rem;
  border-radius: 2rem;
  background-color: var(--dark-gray);
  box-shadow: var(--purple-shadow);
  color: white;
}
