.nav-box {
  /* background-color: green; */
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  box-shadow: var(--shadow-primary);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  flex-wrap: nowrap;
  max-height: 80px;
  width: 100%;
}
.menu-icon {
  margin: 1rem;
}
.buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 2rem;
  width: 100%;
}

.buttons.right {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}
.button-nav {
  padding: 1rem;
}
.button-nav p {
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.button-nav p:hover {
  color: var(--dark-gray);
}

.button-nav.menu {
  cursor: pointer;
}

.button-nav.logo {
  font-size: 2rem;
}
.buttons h3 {
  font-size: 2rem;
  margin: 0 1rem;
  color: var(--primary-color);
}
.buttons span {
  font-size: 2rem;
  margin: 0 1.5rem;
  color: var(--primary-color);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.buttons h2:hover {
  color: var(--dark-gray);
}

@media (max-width: 850px) {
  .navbar h3 {
    display: none;
  }
}
@media (max-width: 757px) {
  .buttons span {
    display: none;
  }
}

@media (max-width: 1049px) {
  .buttons .upload {
    display: none;
  }
}
