.sidebar {
  min-height: 100%;
  width: 170px;
  padding: 0.5rem;
  grid-area: sidebar;
  background-color: red;
}
.text {
  display: flex;
  padding: 0.5rem 0;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.icon {
  margin: 0 0.5rem;
  color: var(--dark-gray);
  font-size: 1.1rem;
}

.icon a,
.textp {
  cursor: pointer;
}

p {
  font-size: 1.1rem;
}
hr {
  margin: 0.5rem 0;
}

.sidebar.mini {
  min-height: 100%;
  width: 40px;
  padding: 0.5rem;
}

.sidebar.mini p {
  display: none;
}
.sidebar.mini span {
  display: none;
}

span {
  color: var(--dark-gray);
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1rem 0;
}
