.sidebar {
  height: 1500px;
  overflow-y: auto;
  width: 190px;
  padding: 0.5rem;
  /* background-color: var(--secondary-color); */
  box-shadow: var(--shadow-primary);
}
.sidebar-separator {
  margin: 0.5rem 0;
}

.sidebar.mini {
  height: 1500px;
  overflow-y: auto;
  width: 60px;
  padding: 0.5rem;
  transition: 0.3s ease-in;
  /* background-color: green; */
}

.sidebar.mini p {
  display: none;
}
.sidebar.mini span {
  display: none;
}

.sidebar-span {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1rem 0.5rem;
}

.sidebar-link {
  text-decoration: none;
  color: var(--black-color);
}

@media (max-width: 403px) {
  .sidebar.mini {
    display: none;
  }
  .sidebar {
    display: none;
  }
}
