:root {
  --dark-gray: #555;
  --light-gray: #999;
  --lighter-gray: #999999b1;
  --purple-shadow: 0 0 3px #7400cc;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

main {
  display: grid;
  grid-template-areas: "sidebar main main main";
  width: 100%;
}

.video-page {
  display: flex;
  width: 100%;
}

.video-boxes {
  display: flex;
}
